.CAccordionHeader.active {
  color: red;
}

.CAccordionBody {
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.CAccordionItem.active .CAccordionBody {
  max-height: 500px;
}

div.small {
  width: 200px;
}

.faq {
  margin: 10px 20px 15px 25px;
  padding: 5px 15px;
}
