.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.pagination-container,
.selection-container{
    margin-left: 40%;
    padding:3%;

}
  .custom-card {
    width: calc(29.33% - 30px); /* Adjust width as needed */
    margin-bottom: 80px; /* Adjust spacing between cards */
  }
  
  .custom-card-image {
    height: 400px; /* Adjust height as needed */
    object-fit: cover;
  }
  

  .button-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .auction-button,
  .view-details-button {
    flex: 1;
  }
  
  .view-details-icon {
    width: 20px; /* Adjust icon size as needed */
  }
  
  .auction-button {
    width: 100%; /* Full width */
    background-color: 		#d4af37;/* Light golden color */
    border-color: bisque;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5); /* Black shade with 50% opacity */
  }
  
  .overlay-text {
    color: white; /* White text color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-title{

    text-align: center;

  }

  .overlay-text {
    opacity: 0; 
    transition: opacity 0.3s;}

.overlay:hover .overlay-text {
    opacity: 1; 
}
@media screen and (max-width: 768px) {
  .custom-card {
    width: calc(50% - 20px); 
  }
}

@media screen and (max-width: 480px) {
  .custom-card {
    width: 100%; 
  }
}
.biditem-container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
  padding: 20px;
  /* background: linear-gradient(rgb(96, 102, 126), rgb(186, 161, 32));  */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.item-details {
  animation: slideInLeft 1s ease-in-out;
}

.item-title {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #333;
}

.item-subtitle {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #555;
}

.item-info h3 {
  margin: 0.5em 0;
  color: #777;
}

.item-description {
  margin: 1em 0;
  color: #666;
  max-width: 600px;
}


.bid-button, .stats-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Specific styles for the BID FOR LOT button */
.bid-button {
  background-color: #0d3764; /* Blue background */
  color: white;
}

.bid-button:hover {
  background-color: #134a85; /* Darker blue on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bid-button:disabled {
  background-color: #c0c0c0; /* Gray background when disabled */
  cursor: not-allowed;
}

/* Specific styles for the OPEN BID STATS button */
.stats-button {
  background-color: #115194; /* Green background */
  color: white;
}

.stats-button:hover {
  background-color: #0d3764; /* Darker green on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideInRight 1s ease-in-out;
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


@media (max-width: 768px) {
  .biditem-container {
   display: block;
  }

  .item-details {
    animation: none;
  }

  .item-image-container {
    animation: none;
    margin: 50px;
  }
}