.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
    margin-top:20%;
  }
  
  .grid-item {
    padding: 20px;
  }
  
  .left-content {
    
    grid-column: 1 / 2;
  }
  
  .right-content {
    grid-column: 2 / 3;
  }
  