/* App.css */
.app-wrapper {
  min-height: 100vh;
}

header {
  width: 100%;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav {
  color: white;
  margin-right: 20px;
} 

.main-content {
  padding: 20px;
}

.bg_primary {
    background: #21689e;
    color: #fff;
}

